.form {
  padding-bottom: 10px;
}

.form__title {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 20px 0;
  color: #fff;
}

.form__input {
  width: 50%;
  min-width: 280px;
  padding: 8px;
  border-radius: 12px;
  margin: 0 auto 15px;
  text-align: center;
  outline: none;
  border: none;
  display: block;
}

.form__button {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  border-radius: 12px;
  padding: 5px 13px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.8;
}
