.header {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
}

.header__logo {
  width: 600px;
  margin: 15px auto;
  display: block;
}

@media screen and (max-width: 650px) {
  .header__logo {
    width: 450px;
  }
}

@media screen and (max-width: 490px) {
  .header__logo {
    width: 300px;
  }
}

@media screen and (max-width: 310px) {
  .header__logo {
    width: 250px;
  }
}
