.people {
  color: #fff;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 1.5;
}
.people__title {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  font-weight: 800;
  font-size: 40px;
}

@media screen and (max-width: 650px) {
  .people__title {
    font-weight: 600;
    font-size: 30px;
  }
}

@media screen and (max-width: 450px) {
  .people__title {
    font-weight: 500;
    font-size: 25px;
  }
}
