.person {
  border-radius: 10px;
  box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */ 0px
      3px 4px 0px hsla(0, 0%, 0%, 0.14),
    0px 3px 3px -2px hsla(0, 0%, 0%, 0.12), 0px 1px 8px 0px hsla(0, 0%, 0%, 0.2);
  margin: 20px auto;
  width: 400px;
  cursor: pointer;
}

.person:hover {
  opacity: 0.9;
}

.person__img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.person__name {
  font-size: 35px;
  line-height: 1.6;
  text-align: center;
  margin: 10px auto;
  font-weight: 700px;
}
